NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_WS_URL=http://localhost:4000
NEXT_PUBLIC_PAYSAFE_PUBLIC_KEY=OT-1166160:B-qa2-0-6abb67bd-0-302c0214600e120dd68c86665c4b7fdc18033eedb221ac4402147ec0fc4f4497943cbeda467203c13fd66dae1266
NEXT_PUBLIC_PAYSAFE_ENVIRONMENT=test
NEXT_PUBLIC_PAYSAFE_ACCOUNT_NUMBER=1166160
