@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 10 10 15;
    --foreground: 255 255 255;
  }

  html {
    @apply bg-[rgb(var(--background))] text-[rgb(var(--foreground))];
    -webkit-font-smoothing: antialiased;
  }

  body {
    @apply font-sans;
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply rounded-full bg-white/10;
  }
}
